body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans';
    font-size: 18px;
    background-color: hsl(27, 66%, 92%);
}

main {
    height: 70vh;
    width: 30vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5em;
}

.header {
    width: 30vw;
    background-color: hsl(10, 79%, 65%);
    color: hsl(27, 66%, 92%);
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 1em;
    div {
       margin-left: 2em;
       h4 {
        font-weight: 400;
        margin-top: 1.5em;
        margin-bottom: .5em;
       }
       h2 {
        margin-top: 0;
        margin-bottom: .7em;
        font-size: 2rem;
       }
    }
    img {
        margin-right: 2.5em;
    }
}

.content {
    background-color: hsl(33, 100%, 98%);
    border-radius: 1em;
    cursor: pointer;
    .heading {
        margin: 1.5em;
    }
    .chart-container {
        width: 90%;
        height: 40%;
        margin-left: 1.5em;
    }
    .separation {
        width: 90%;
        margin-left: 1.5em;
        margin-top: 1.5em;
        height: 1px;
        background-color: hsl(27, 66%, 92%);
    }
    .content-bottom {
        display: flex;
        justify-content: space-between;
        .left {
            margin-left: 1.5em;
            h1 {
              font-size: 3em;
              margin-top: 0;
            }
            h4 {
              font-size: 1em;
              margin-top: 1.5em;
              margin-bottom: 0;
            }
        }
        .right {
            margin-right: 1.5em;
            h3{
                font-size: 1em;
                font-weight: 700;
            }
            h4 {
               font-size: 1em;
               font-weight: 400;
            }   
        }
    }
}


